@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

body {
    max-width: 100%; // Fixed to prevent scrollbar layout breakage
    min-height: 100vh;
    background-color: get-color('primary-body');
}

.top-shadow {
    background-color: get-color('primary-orange');
    border-radius: 100%;
    filter: blur(180px);
    opacity: 0.5;
    height: 50rem;
    width: 20rem;
    position: absolute;
    top: -15%;
    left: -10%;
    z-index: $z-index-1000;

    @include media-query('tablet') {
        filter: blur(220px);
        height: 80rem;
        width: 50rem;
    }
}
