@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

header {
    @include flex-layout(space-between, center, row);
    font-size: $medium-font-size;
    height: 12vh;
    position: relative;
    padding: 9rem 13rem;

    @include respond-to('mobile') {
        padding: 6rem 1.5rem;
        flex-flow: row-reverse;
    }

    @include respond-to('tablet') {
        padding: 5rem 7rem;
    }
}

.header-nav {
    @include respond-to('mobile') {
        display: none;
    }
    @include respond-to('tablet') {
        display: none;
    }
}

.sign-btn-container {
    @include respond-to('mobile') {
        display: none;
    }
}
.sign-up-btn {
    padding: 1.5rem 3rem;
}

.header-nav-list {
    @include flex-layout;
    list-style: none;
    gap: 6.8rem;

    a {
        text-decoration: none;
        color: color('font-gray');
        &:hover {
            color: color('font-black');
        }
    }
}

.header-ham-btn {
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;

    @include respond-to('desktop') {
        display: none;
    }
    &.js-active {
        opacity: 0;
    }
}

.header-ham-icon {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.header-ham-menu {
    background-color: color('primary-body');
    transition: all 0.5s ease-in-out;
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 250px;
    z-index: 9;

    @include respond-to('tablet') {
        left: -100%;
    }
    @include respond-to('desktop') {
        display: none;
    }

    &.js-active {
        @include respond-to('mobile') {
            right: 0;
        }
        @include respond-to('tablet') {
            left: 0;
        }
    }
}

.ham-menu-close {
    cursor: pointer;
    position: absolute;
    background: none;
    border: none;
    font-size: 2rem;
    top: 1.5rem;

    @include respond-to('mobile') {
        transform: rotate(180deg);
        left: 1.5rem;
    }
    @include respond-to('tablet') {
        right: 1.5rem;
        top: 1.5rem;
    }
}

.ham-menu-list {
    @include flex-layout($direction: column);
    list-style: none;
    width: 250px;
    gap: 3rem;
    padding: 5rem 2rem;

    li a {
        text-decoration: none;
        color: color('font-black');
    }
}

.ham-menu-login,
.ham-menu-sign-up {
    @include respond-to('tablet') {
        display: none;
    }
}
