@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $medium-font-size;
    height: 12vh;
    position: relative;
    padding: 9rem 13rem;
}
.signUp-btn {
    padding: 1.5rem 3rem;
}

.header-nav-list {
    display: flex;
    list-style: none;
    gap: 7rem;

    a {
        text-decoration: none;
        color: color('font-gray');
    }
    a:hover {
        color: color('font-black');
    }
}

.header-ham-btn {
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.header-ham-icon {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.header-ham-menu {
    background-color: color('primary-body');
    transition: all 0.5s ease-in-out;
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 250px;
    z-index: 9;
}

.ham-menu-close {
    cursor: pointer;
    position: absolute;
    background: none;
    border: none;
    font-size: 2rem;
    top: 1.5rem;
}

.ham-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 3rem;
    padding: 5rem 2rem;

    li {
        a {
            text-decoration: none;
            color: color('font-black');
        }
    }
}

.header-ham-btn.active {
    opacity: 0;
}

@media (max-width: #{$mobile-size}px) {
    header {
        padding: 6rem 1.5rem;
    }
    .header-nav,
    .sign-btn-container {
        display: none;
    }
    header {
        flex-flow: row-reverse;
    }
    .header-ham-menu.active {
        right: 0;
    }
    .ham-menu-close {
        transform: rotate(180deg);
        left: 1.5rem;
    }
}
@media (min-width: #{$mobile-size + 1}px) and (max-width: #{$tablet-size}px) {
    header {
        padding: 5rem 7rem;
    }
    .header-nav,
    .ham-menu-login,
    .ham-menu-signUp {
        display: none;
    }
    .header-ham-menu {
        left: -100%;
    }
    .header-ham-menu.active {
        left: 0;
    }
    .ham-menu-close {
        right: 1.5rem;
        top: 1.5rem;
    }
}
@media (min-width: #{$tablet-size + 1}px) {
    .header-ham-btn {
        display: none;
    }
    .header-ham-menu {
        display: none;
    }
}
