@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hero-section-images__outer-container {
    background-image: url(../../../public/assets/images/layer.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

    padding: 5rem;
}

.hero-section__images-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 2rem;
}

.hero-section__first-images-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 50%;
    height: 100%;
}

.hero-section__second-images-container {
    height: 70%;
    width: 50%;
}

.first-images-container__first-image-container {
    position: relative;
    height: 50%;
    width: 100%;
    flex: 1;
}
.first-images-container__second-image-container {
    position: relative;
    height: 50%;
    flex: 1;
    width: 100%;
}
.first-images-container__first-image,
.first-images-container__second-image,
.second-images-container__third-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.share-icon-container {
    position: absolute;
    left: -10%;
    bottom: -10%;
    background-color: color(font-pink);
    border-radius: 100%;

    padding: 1rem;
}
.share-icon,
.contact-icon {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.second-images-container__third-image-container {
    position: relative;
}
.top-places-icon-container {
    position: absolute;
    right: -25%;
    bottom: 10%;
    background-color: white;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: $medium-border-radius;

    padding: 1rem 1rem;
}
.contact-icon-container {
    position: absolute;
    bottom: 0;
    right: 15%;
    border-radius: 100%;
    background-color: #ff5722;
    padding: 1rem;
}

.hero-section__travel-section-container,
.travel-section__explore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}

.explore-world-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;

    gap: 1rem;

    background-color: color('primary-white');
    color: color('font-black');
    padding: 1.5rem 4rem;
    border-radius: $large-border-radius;
    filter: drop-shadow(1px 1px 40px color('shadow-gray'));
}

.travel-section-heading1 {
    line-height: 120%;
    font-size: 40px;
    font-weight: $large-font-weight;
    p {
        display: inline;
        color: color('font-pink');
    }
}

.travel-section-heading2 {
    font-family: $secondary-font-style;
    color: color('font-gray');
    font-weight: $medium-font-weight;
    font-size: $medium-font-size;
}
.travel-section__btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.travel-section__get-started-btn {
    width: 100%;
}
.travel-section__watch-demo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;

    border: 1px solid lighten(color('font-gray'), 50%);
}

@media (max-width: #{$mobile-size}px) {
    .hero-section {
        padding: 6rem 1.5rem;
    }
    .share-icon-container,
    .contact-icon-container {
        width: 30px;
        height: 30px;
    }
    .top-places-icon {
        width: 15px;
        height: 15px;
    }
    .top-places-icon-container {
        height: 30px;
    }
}

@media (min-width: #{$mobile-size + 1}px) and (max-width: #{$tablet-size}px) {
    .hero-section {
        padding: 5rem 7rem;
    }
}

@media (min-width: #{$tablet-size + 1}px) {
    .hero-section {
        padding: 9rem 13rem;
    }
}
