@use '../abstracts/variables' as *;

// ==========================================
// PRIMARY FONT FAMILY
// ==========================================

// Regular Weight
@font-face {
    font-family: $primary-font-family;
    src: url('#{$font-base-path}/primary.ttf');
    font-weight: 400;
    font-style: normal;
}

// Medium Weight
@font-face {
    font-family: $primary-font-family;
    src: url('#{$font-base-path}/primary.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: optional;
}

// Bold Weight
@font-face {
    font-family: $primary-font-family;
    src: url('#{$font-base-path}/primary.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: optional;
}

// ==========================================
// SECONDARY FONT FAMILY
// ==========================================

// Regular Weight
@font-face {
    font-family: $secondary-font-family;
    src: url('#{$font-base-path}/secondary-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}

// Bold Weight
@font-face {
    font-family: $secondary-font-family;
    src: url('#{$font-base-path}/secondary-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: optional;
}
