@font-face {
    font-family: 'Circular Std';
    src: url('../../assets/circular-std-medium-500.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap')
        format('truetype');
}
