@use './variables' as *;

/// Flexbox layout helper
/// @param {String} $justify [space-between] - Horizontal alignment
/// @param {String} $align [center] - Vertical alignment
/// @param {String} $direction [row] - Flex direction

@mixin flex-layout($justify: space-between, $align: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/// Media Query Breakpoint Helper
/// @param {String} $breakpoint - tablet or desktop
@mixin media-query($breakpoint) {
    @if $breakpoint == 'tablet' {
        // Naturally applies to everything from tablet size upwards
        @media (min-width: $mobile-size) {
            @content;
        }
    } @else if $breakpoint == 'desktop' {
        // Overrides or adds onto tablet styles once it hits desktop size
        @media (min-width: $tablet-size) {
            @content;
        }
    }
}
