//root-font size variable
$base-font-size: 1.6rem;
$base-font-weight: 400;

//colors variables

$primary-purple-color: #5d50c6;
$primary-body-color: #ffffff;

$font-black-color: #000000;
$font-gray-color: #19182580;
