// Root-font size variables
$sm-font-size: 1.2rem;
$md-font-size: 1.6rem;
$l-font-size: 1.8rem;
$xl-font-size: 2.5rem;
$xxl-font-size: 3.2rem;
$xxxl-font-size: 4rem;
$xxxxl-font-size: 6.5rem;
$xxxxxl-font-size: 7.5rem;

// Font weight - variables
$thin-font-weight: 200;
$normal-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$extra-bold-font-weight: 900;

// Colors variables
$palette: (
    'purple': #5d50c6,
    'white': #ffffff,
    'black': #000000,
    'gray': rgba(#191825, 0.5),
    'pink': #f85e9f,
    'light-gray': #bbbbbb,
    'orange': #ff5722,
    'light-pink': #ffd5c8,
    'yellow': #facd49,
    'dark-gray': #53525c,
);
$theme: (
    'primary-purple': map-get($palette, 'purple'),
    'primary-white': map-get($palette, 'white'),
    'primary-body': map-get($palette, 'white'),
    'primary-orange': map-get($palette, 'orange'),
    'font-black': map-get($palette, 'black'),
    'font-gray': map-get($palette, 'gray'),
    'shadow-gray': map-get($palette, 'light-gray'),
    'font-pink': map-get($palette, 'pink'),
    'secondary-pink': map-get($palette, 'light-pink'),
    'primary-yellow': map-get($palette, 'yellow'),
    'font-dark-gray': map-get($palette, 'dark-gray'),
);

// Breakpoints variables
$desktop-size: 1440px;
$tablet-size: 1025px;
$mobile-size: 430px;

// Border-radius variables
$small-border-radius: 12px;
$medium-border-radius: 25px;
$large-border-radius: 30px;

// Font family names
$fallback-font: sans-serif;
$font-primary: 'Circular Std';
$font-secondary: Inter;

// Font family paths
$font-base-path: '../assets/fonts';

// z-index variables
$z-index-0: 0;
$z-index-1: 1;
$z-index-10: 10;
$z-index-100: 100;
$z-index-1000: 1000;
$z-index-9999: 9999;

// Box-shadow variables
$shadow-sm: 4px 6px 40px map-get($palette, 'light-gray');
$shadow-md: 8px 12px 40px map-get($palette, 'light-gray');
$shadow-lg: 12px 16px 50px map-get($palette, 'light-gray');
$shadow-xl: 16px 20px 50px map-get($palette, 'light-gray');

// Color-specific shadows (gray drop-shadows)
$shadow-gray-base: rgba(23, 23, 23, 0.25);
