//root-font size variables
$small-font-size: 1.2rem;
$medium-font-size: 1.6rem;
$large-font-size: 1.8rem;
// font weight - variables
$small-font-weight: 200;
$medium-font-weight: 400;
$large-font-weight: 700;
//colors variables
$palette: (
    'purple': #5d50c6,
    'white': #ffffff,
    'black': #000000,
    'gray': rgba(#191825, 0.5),
);
$theme: (
    'primary-purple': map-get($palette, 'purple'),
    'primary-body': map-get($palette, 'white'),
    'font-black': map-get($palette, 'black'),
    'font-gray': map-get($palette, 'gray'),
);
//breakpoints variables
$desktop-size: 1440;
$tablet-size: 1024;
$mobile-size: 430;
//border-radius variables
$small-border-radius: 12px;
$medium-border-radius: 25px;
$large-border-radius: 30px;
