@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

/* ==========================================================================
   PARTNERS SECTION BLOCK
   ========================================================================== */
.partners-section {
    @include flex-layout(center, center, row);
    width: 100%;
    padding-block: 3.5rem;
    position: relative;

    @include media-query('tablet') {
        padding-block: 4.5rem;
        width: 75%;
    }

    @include media-query('desktop') {
        width: 100%;
        padding-block: 5rem;
    }

    &__logo-container {
        @include flex-layout(center, center, row);
        width: 100%;
        column-gap: 5%;
        row-gap: 1rem;
        flex-wrap: wrap;

        @include media-query('tablet') {
            column-gap: 8%;
            row-gap: 1.5rem;
        }

        @include media-query('desktop') {
            justify-content: space-between;
            column-gap: 2%;
        }
    }

    &__brand-logo {
        height: 50px;
        width: 28%;
        object-fit: contain;

        &--expedia {
            width: 20%;
        }
        &--airbnb {
            width: 20%;
        }

        @include media-query('tablet') {
            width: 30%;

            &--expedia {
                width: 15%;
            }
            &--airbnb {
                width: 15%;
            }
        }

        @include media-query('desktop') {
            width: auto;

            &--tripadvisor {
                width: 19%;
            }
            &--expedia {
                width: 10%;
            }
            &--booking {
                width: 17%;
            }
            &--airbnb {
                width: 10%;
            }
            &--orbitz {
                width: 15%;
            }
        }
    }
}

.partners-section__shadow-element {
    display: none;
    background-color: get-color('primary-yellow');
    border-radius: 100%;
    filter: blur(180px);
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    z-index: $z-index-1000;

    @include media-query('tablet') {
        display: block;
        filter: blur(167px);
        height: 40rem;
        width: 46rem;
        top: -43%;
        right: -56%;
    }
    @include media-query('desktop') {
        right: -22%;
    }
}
