@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

html {
    font-size: 50%;
    font-family: $font-primary, $fallback-font;

    @include respond-to('tablet') {
        font-size: 56.25%;
    }
    @include respond-to('desktop') {
        font-size: 62.5%;
    }
}
